
<section class="content">
<p><a target="_blank" href="https://starwars.fandom.com/wiki/Main_Page">Wookieepedia</a></p>
<p><a target="_blank" href="https://www.instructables.com/id/How-to-Watch-Star-Wars-in-Terminal/">How to Watch Star Wars in Terminal</a></p>
<p><a target="_blank" href="https://swapi.co/">The StarWars API</a></p>

<p>That feels like all you need...</p>
</section>