

<section class="content">
    <section class="character-list">
    {{#each characters}}
        {{> characterTile}}
    {{/each}}
    </section>

    <a id="add-link" href="/characters/add">Add your own</a id="add-link">
</section>